.question{
  display: none;
}
.questionAnswer{
  display: none;
}
.well{
  background-color: aqua;
}
body{
  background-color: aqua;
  text-align: center;
  font-style: oblique;
}
img {
  display: none;
  height: 100px;
  width: 100px;
}
